[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw.git
[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "externals/glad"]
	path = externals/glad
	url = https://github.com/Dav1dde/glad
[submodule "externals/argparse"]
	path = externals/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "externals/gtest"]
	path = externals/gtest
	url = https://github.com/google/googletest.git
[submodule "externals/nlohmann_json"]
	path = externals/nlohmann_json
	url = https://github.com/nlohmann/json.git
